body {
  background-color:lightgreen;
  display:grid;
  grid-template-columns: auto 50%;
  padding:50px;
}
div {
  height: 500px;
  place-content: center;
  text-align: center;
}

.left{
  background-color:pink;
}

.right{
  background-color:lightblue;
}

